{% extends "home/base.html" %}

{% block title %}
  Portada
{% endblock %}

{% block content %}

{% load static %}
<!--
<link rel="stylesheet" type="text/css" href="{% static 'home/css/info.css' %}">
-->

<div class="container text-center">
    <br>
    <h1 id="unam">UNIVERSIDAD NACIONAL AUTÓNOMA DE MÉXICO</h1>
    <br>
    <h1>FACULTAD DE ESTUDIOS SUPERIORES
    <br>ACATLÁN
    </h1>
    <br>
    <h1>SEGURIDAD INFORMÁTICA</h1>
    <br>
    <h1>LÓPEZ SALINAS FRANCISCO MIZTLI</h1>
    <br>
    <h3>Proyecto Final de la Materia de Seguridad Informática
        <br>
        Se realizo un proyecto incluyendo todas las prácticas vistas durante el semestre.
        <br>
        Solo falto la implementación de la practica 4 <strong>Password Cracker</strong> :(
    </h3>
</div>





{% endblock %}
